<div>
  <h2>Your form inputs</h2>
  <h4>Full name</h4>
  <p>
    <%= params[:full_name] %>
  </p>
  <h4>Course</h4>
  <p>
    <%= params[:course_name] %>
  </p>
  <h4>Level at which you are screwed</h4>
  <p>
    <%= params[:how_screwed_level] %>
  </p>
  <h4>Do u no da wae</h4>
  <p>
    <%= params[:da_wae] %>
  </p>
</div>
